<p>Formulario Dynamico</p>

<form (ngSubmit)="onSubmit()" >

  <div class="conatiner-form" *ngFor="let item of formulario.structure.fields" >

    <!-- {{item.name}} -->

  <div *ngFor="let fields of item.fieldSection" >

    <ng-container  [ngSwitch]="fields.type">

      <div  class="items" *ngSwitchCase="'text'">

        <input
          [id]="fields.id"
          [type]="fields.type"
          [placeholder]="fields.placeholder"
          [required]="fields.requiere"
        />
      </div>

      <div class="items" *ngSwitchCase="'number'">

        <input
          [id]="fields.id"
          [type]="fields.type"
          [placeholder]="fields.placeholder"
          [required]="fields.requiere"
        />
      </div>

      <div class="items" *ngSwitchCase="'email'">

        <input
          [id]="fields.id"
          [type]="fields.type"
          [placeholder]="fields.placeholder"
          [required]="fields.requiere"
        />
      </div>

      <div class="items" *ngSwitchCase="'password'">

        <input
          [id]="fields.id"
          [type]="fields.type"
          [placeholder]="fields.placeholder"
          [required]="fields.requiere"
        />
      </div>

      <div class="items" *ngSwitchCase="'tel'">
        <input
          [id]="fields.id"
          [type]="fields.type"
          [placeholder]="fields.placeholder"
          [required]="fields.requiere"
        />


      </div>




    </ng-container>


  </div>

  </div>

</form>
